/**************************
 *
 * Flexbox Containers styling
 *
 **************************
 */

.flex-container-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.flex-container-row-reverse {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.flex-container-column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-container-column-reverse {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}

.align-items-start {
  -webkit-box-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
          align-items: center;
}

.align-items-stretch {
  -webkit-box-align: stretch;
          align-items: stretch;
}

.align-items-baseline {
  -webkit-box-align: baseline;
          align-items: baseline;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.auto-size-items > * {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
}

/********************************
 *
 * Flexbox Containers styling end
 *
 ********************************
 */

